.btn {
    width: 150px;
    padding: 8px 25px;
    border-radius: 3px;
    border:0px;
    font-family: $fontFamily;
    font-size:24px;
    background: transparent;
    color:$primaryColor;
    border:2px solid $primaryColor;
  }
  
  .btn:hover {
    color:$secondaryColor;
    background-color:$primaryColor;
    border:2px solid $primaryColor;
    font-style: bolder;
    cursor: pointer;
   .btn:hover ~ i{
      color:$secondaryColor;
    }
  }



  .btn-small{
    @extend .btn;
    width: auto;
    height: auto;
    padding: 5px 10px;
    font-size:18px;
  }

  input[type=submit]{
    @extend .btn-small;
  }
  .active {
    background-color:$primaryColor;
    color:$secondaryColor;
    border:3px solid $primaryColor;
  }

